@{
    ViewData["Title"] = "Vnexpress";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vnexpress.net</title>
        <meta charset="UTF-8>">
        <style type="text.css">
            nav{
                background-color: red;
            }
            nav a{
                display: inline-block;
                padding: 10px;
                font-size: 20px;
                color:black;
            }
            nav a:hover{
                background-color: blue;
            }
        </style>
    </head>
    <body>
       <!--main_menu menu PC-->
<!-- Start Menu -->
<nav id="main_menu" class="p_menu" data-campaign="Header">
<a data-medium="Menu-Home" href="/" onclick="trackingLogoHome('logo-header-menu', this.href)"><i class="ic-m-home-img"></i></a>
<a class="munu_video" data-medium="Menu-Video" href="//video.vnexpress.net">Video</a>
<a class="mnu_thoisu" data-medium="Menu-ThoiSu" href="/thoi-su" title="Thời sự"> Thời sự </a>
<a class="mnu_gocnhin" data-medium="Menu-GocNhin" href="/goc-nhin" title="Góc nhìn"> Góc nhìn </a>
<a class="mnu_thegioi" data-medium="Menu-TheGioi" href="/the-gioi" title="Thế giới"> Thế giới </a>
<a class="mnu_kinhdoanh" data-medium="Menu-KinhDoanh" href="https://vnexpress.net/kinh-doanh" title="Kinh doanh"> Kinh doanh </a>
<a class="mnu_giaitri" data-medium="Menu-GiaiTri" href="https://vnexpress.net/giai-tri" title="Giải trí"> Giải trí </a>
<a class="mnu_thethao" data-medium="Menu-TheThao" href="https://vnexpress.net/the-thao" title="Thể thao"> Thể thao </a>
<a class="mnu_phapluat" data-medium="Menu-PhapLuat" href="/phap-luat" title="Pháp luật"> Pháp luật </a>
<a class="mnu_giaoduc" data-medium="Menu-GiaoDuc" href="/giao-duc" title="Giáo dục"> Giáo dục </a>
<a class="mnu_suckhoe" data-medium="Menu-SucKhoe" href="https://vnexpress.net/suc-khoe" title="Sức khỏe"> Sức khỏe </a>
<a class="mnu_doisong" data-medium="Menu-DoiSong" href="https://vnexpress.net/doi-song" title="Đời sống"> Đời sống </a>
<a class="mnu_dulich" data-medium="Menu-DuLich" href="https://vnexpress.net/du-lich" title="Du lịch"> Du lịch </a>
<a class="mnu_khoahoc" data-medium="Menu-KhoaHoc" href="/khoa-hoc" title="Khoa học"> Khoa học </a>
<a class="mnu_sohoa" data-medium="Menu-SoHoa" href="https://vnexpress.net/so-hoa" title="Số hóa"> Số hóa </a>
<a class="mnu_xe" data-medium="Menu-Xe" href="/oto-xe-may" title="Xe"> Xe </a>
<a class="mnu_ykien" data-medium="Menu-YKien" href="/y-kien" title="Ý kiến"> Ý kiến </a>
<a class="mnu_tamsu" data-medium="Menu-TamSu" href="/tam-su" title="Tâm sự"> Tâm sự </a>
<a class="mnu_cuoi" data-medium="Menu-Cuoi" href="/cuoi" title="Cười"> Cười </a>
<span class="mnu_raovat drop_menu" href="#">
<i class="caret-down"></i>
<div class="drop_menu_hover">
<a href="//raovat.vnexpress.net" title="Rao vặt">Fsell</a>
<a href="//ewiki.vnexpress.net" title="Ewiki">Ewiki</a>
<a href="//magiamgia.vnexpress.net" title="Mã giảm giá">Mã giảm giá</a>
<a href="//kidlab.vnexpress.net" title="Kid lab" target="_blank">Kid lab</a>
</div>
</span>
</nav>
<!-- End Menu -->
<!-- Start SUB MENU -->
<section class="cat_header clearfix" data-campaign="Header">
<div class="right">
<span class="top-contact"><i class="ic ic-phone"></i> <strong>083.888.0123</strong> - <strong>082.233.3555</strong></span>
<a href="https://vnexpress.net/lien-he-quang-cao" title="quảng cáo" class="box_ad_vne">
<i class="ic ic-ad"></i>090 293 9644
</a>
</div>
<ul class="breadcrumb left">
<li class="start">
<h4>
<a data-medium="Menu-Rss" href="/rss" title="RSS">RSS</a>
</h4>
</li>
</ul>
</section>
<!--End main_menu-->
<!-- Breadcrumb -->
<!--End Breadcrumb-->
<!-- CONTENT  -->
<!--content-->
<section class="container page73 page_rss">
<section class="sidebar_1">
<h2 class="title_rss">Kênh do VnExpress cung cấp</h2>
<ul class="list_rss">
<li><a class="rss_txt" href="/rss/tin-moi-nhat.rss">Trang chủ </a> <a class="icon_rss" href="/rss/tin-moi-nhat.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/thoi-su.rss">Thời sự </a> <a class="icon_rss" href="/rss/thoi-su.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/the-gioi.rss">Thế giới </a> <a class="icon_rss" href="/rss/the-gioi.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/kinh-doanh.rss">Kinh doanh </a> <a class="icon_rss" href="/rss/kinh-doanh.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/startup.rss">Startup </a> <a class="icon_rss" href="/rss/startup.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/giai-tri.rss">Giải trí </a> <a class="icon_rss" href="/rss/giai-tri.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/the-thao.rss">Thể thao </a> <a class="icon_rss" href="/rss/the-thao.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/phap-luat.rss">Pháp luật </a> <a class="icon_rss" href="/rss/phap-luat.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/giao-duc.rss">Giáo dục </a> <a class="icon_rss" href="/rss/giao-duc.rss">RSS <i class="ic ic-rss"></i></a></li>
</ul>
<ul class="list_rss">
<li><a class="rss_txt" href="/rss/suc-khoe.rss">Sức khỏe </a> <a class="icon_rss" href="/rss/suc-khoe.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/gia-dinh.rss">Đời sống </a> <a class="icon_rss" href="/rss/gia-dinh.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/du-lich.rss">Du lịch </a><a class="icon_rss" href="/rss/du-lich.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/khoa-hoc.rss">Khoa học </a> <a class="icon_rss" href="/rss/khoa-hoc.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/so-hoa.rss">Số hóa </a> <a class="icon_rss" href="/rss/so-hoa.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/oto-xe-may.rss">Xe </a> <a class="icon_rss" href="/rss/oto-xe-may.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/y-kien.rss">Ý kiến </a> <a class="icon_rss" href="/rss/y-kien.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/tam-su.rss">Tâm sự </a> <a class="icon_rss" href="/rss/tam-su.rss">RSS <i class="ic ic-rss"></i></a></li>
<li><a class="rss_txt" href="/rss/cuoi.rss">Cười </a> <a class="icon_rss" href="/rss/cuoi.rss">RSS <i class="ic ic-rss"></i></a></li>
</ul>
</section>
<section class="sidebar_2">
<section class="box_category hidden320">
<div class="width_common box_banner_ad_vne">
<span class="text_ad_vne">Quảng cáo</span>
<div class="width_common">
<section class="box_category ">
<div id="div-gpt-ad-1563846116846-2"><script>googTagCode.display.push("div-gpt-ad-1563846116846-2");</script></div>
</section>
<div id="div-gpt-ad-1563846116846-3"><script>googTagCode.display.push("div-gpt-ad-1563846116846-3");</script></div>
</div>
</div>
</section>
    </body>
</html>