@{
    ViewData["Title"] = "Vnexpress";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vnexpress.net</title>
        <meta charset="UTF-8>">
        <style type="text.css">
            nav{
                background-color: red;
            }
            nav a{
                display: inline-block;
                padding: 10px;
                font-size: 20px
                color:black:
            }
            nav a:hover{
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="https//:vnexpress.net/the-gioi">Thế giới</a>
            <a href="https//:vnexpress.net/thoi-su">Thời sự</a>
            <a href="https//:vnexpress.net/kinh-doanh">Kinh doanh</a>
            <a href="https//:vnexpress.net/giai-tri">Giải trí</a>
            <a href="https//:vnexpress.net/the-thao">Thể thao</a>
            <a href="https//:vnexpress.net/phap-luat">Pháp luật</a>
            <a href="https//:vnexpress.net/khoa-hoc">Khoa học</a>
            <a href="https//:vnexpress.net/oto-xe-may">Xe</a>
        </nav>
    </body>
</html>